data/models/ssd_mobilenet_v2_fpnlite_320x320/tensorflowtry/ssd_mobilenet_v2_fpnlite_320x320
data/models/ssd_mobilenet_v2_fpnlite_320x320/test.txt
data/models/ssd_mobilenet_v2_fpnlite_320x320/ssd_mobilenet_v2_fpnlite_320x320_coco17_tpu-8